img,
video,
iframe,
div[style*="url"],
span[style*="url"],
a[style*="url"],
i[style*="url"] {
  filter: blur(20px) !important;
}

img:hover,
video:hover,
iframe:hover,
div[style*="url"]:hover,
span[style*="url"]:hover,
a[style*="url"]:hover,
i[style*="url"]:hover {
  filter: blur(0px) !important;
}
